@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 1920px;

    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
}

/* Extend the font-family in your CSS file directly */
@layer base {
    :root {
        --font-popins: 'Poppins', sans-serif;
        --font-cursive: 'Cursive', sans-serif;

        --bg-works-gradient: linear-gradient(135deg, #f97316, #dc2626);
    }
}
